.home-page-container{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
.image-slider{
    margin-bottom: 4rem;
}

.qrcode-info-section{
    background: url("../../assets/find-my-pet-bg-2.webp");
    padding: 6rem 0;
}
.qrcode-info-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.qrcode-info{
    width: 100%;
    margin-bottom: 1rem;
}
.qrcode-info-btn{
    outline: none;
    border: 1px solid #f56a14;
    background-color: transparent;
    color: #f56a14;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}
.qrcode-info-btn:hover{
    color: #fff;
    background-color: #f56a14;
    transition: .3s ease-out;
}
.qrcode-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qrcode-image img{
    max-width: 100%;
    max-height: 100%;
}
.info-section{
    width: 100%;
    background: url("../../assets/pet-background.png");
    margin-bottom: 4rem;
}
.info-subsection1{
    display: flex;
    flex-direction: column;
}
.info-subsection2{
    display: flex;
    flex-direction: column-reverse;
}
.section-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.section-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.text-wrapper{
    width: 80%;
    margin: 0 auto;
}
.image-wrapper{
    width: 80%;
    margin: 0 auto;
}
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px 10px #f56a14;
}

.our-mission-section{
    text-align: center;
    padding: 3.5rem 0;
    background: url("../../assets//pet-with-owner.jpg");
    background-size: cover;
    background-position: center;
}
.our-mission-section-title{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #fff;
}
.our-mission-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
.our-mission-text{
    width: 100%;
    padding: 1rem;
    color: #fff;
}
.our-mission-text p{
    font-size: 1.2rem;
    font-weight: 600;
}
.text-quotes-left{
    width: 100%;
    text-align: left;
    display: inline-block;
}
.text-quotes-right{
    width: 100%;
    text-align: right;
    display: inline-block;
}
.reviewed-by{
    width: 100%;
    text-align: right;
    display: inline-block;
    margin: 0;
}
.our-mission-text svg{
    width: 20px;
    height: 20px;
}
.review-section{
    background: url("../../assets/pet-background.png");
    width: 100%;
    padding: 3rem 0;
}
.reviews-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.review-section-title{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.review-text{
    width: 80%;
    margin: 1rem auto;
    background-color: #f56a14;
    padding: 2em;
    border-radius: 30px 0;
    color: #fff;
}

@media screen and (min-width: 900px){
    .qrcode-info-wrapper{
        width: 70%;
        flex-direction: row;

    }
    .qrcode-info{
        width: 50%;
        padding: 1rem;
    }
    .qrcode-image{
        width: 50%;
    }
    .info-subsection1, .info-subsection2{
        flex-direction: row;
    }
    .section-text-container{
        width: 50%;
    }
    .section-image-container{
        width: 50%;
    }
    .our-mission-content{
        width: 60%;
        flex-direction: row;
    }
    .our-mission-text{
        width: 100%;
    }
    .our-mission-image{
        width: 45%;
        display: flex;
        align-items: center;
    }
    .reviews-wrapper{
        flex-direction: row;
    }
    .review-text{
        width: 40%;
    }
}