.lost-pet-container{
    background: url("../../assets/pet-background.png");
    background-size: cover;
}
.pet-image-container{
    width: 200px;
    height: 200px;
    margin: 2rem auto;
    border-radius: 50%;
    border: 5px solid #f56a14;
}
.pet-image-container img{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.pet-info-container{
    text-align: center;
}
.owner-contact-form-container{
    text-align: center;
    margin-bottom: 2rem;
}
.owner-contact-form{
    width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.owner-contact-form input{
    outline: none;
    border: 1px solid #969494;
    border-radius: 5px;
    padding: .7rem;
    margin-bottom: 1rem;
}
.invalid-input{
    border: 1px solid red !important;
}
.owner-contact-form textarea{
    outline: none;
    border: 1px solid #969494;
    border-radius: 5px;
    padding: .7rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.submit-btn{
    border: none;
    outline: none;
    padding: .7rem;
    color: #fff;
    background-color: #f56a14;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover{
    transition: .3s;
    background-color: #e8620e;
}
.disable-btn{
    pointer-events: none !important;
    background-color: gray !important;
    cursor: not-allowed !important;
}
.page-not-found-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.page-not-found-container h1{
    background-color: #f56a14;
    padding: 1rem;
    border-radius: 15px;
}