.qrcode-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qrcode-modal-container {
  min-height: 50vh;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generate-qrcode-button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f56a14;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.generate-qrcode-button:hover {
  transition: 0.3s;
  background-color: #e8620e;
}

@media screen and (min-width: 900px) {
  .qrcode-modal-container {
    width: 40%;
  }
}
