.navbar{
    display: block;
    color: #fff;
    position: fixed;
    max-width: 100vw;
    width: 100%;
    top: 0;
    z-index: 2;
}
.hide-navbar{
    display: none;
}
.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #18191b;
}
.hamburger-menu-icon{
    width: 25px;
    height: 25px;
    background-color: #e8620e;
    border-radius: 2px;
}
.hamburger-menu-icon svg{
    fill: #fff;
    width: 100%;
    height: 100%;
}
.logo{
    margin: 0;
    padding: 0;
    width: 180px;
    height: 40px;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
}
.navbar-items-mobile{
    width: 55%;
    height: 100vh;
    padding: 0.8rem 0;
    background-color: #18191b;
    transition: 0.5s;
    text-align: center;
}
.navbar-items{
    width: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    transition: 0.5s;
    text-align: center;
}
.navbar-tabs {
    display: flex;
    flex-direction: column;
}
.navbar-tabs .tab{
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #fff;
}
.tab-active{
    color: #f56a14 !important;
}
.tab:hover{
    color: #f56a14;
    transition: 0.3s;
}
.signin-button{
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}
.signin-button:hover{
    background-color: #f56a14;
    transition: 0.3s;
}
.navbar-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-username{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.navbar-username p{
    margin: 0;
    margin-right: .5rem;
}
.logout-button{
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    margin-left: .5rem;
}
.logout-button:hover{
    background-color: #f56a14;
    transition: 0.3s;
}

@media screen and (min-width: 900px){
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0.8rem;
        background-color: #18191b;
    }
    .hamburger-menu-icon{
        display: none;
    }
    .navbar-header{
        padding: 0;
    }
    .navbar-items{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
    .navbar-tabs{
        flex-direction: row;
        margin: 0 auto;
    }
    .navbar-tabs .tab{
        margin: 0 1rem;
    }
    .signin-button{
        margin-right: 1.5rem;
    }
    .navbar-user{
        flex-direction: row;
        margin-right: 2rem;
    }
    .navbar-username{
        margin: 0;
    }
}