.qrcode-form-container {
  padding-top: 4rem;
  background-color: #f8f8f8;
}

.services-card {
  width: 80%;
  margin: 6.125rem auto;
  border-radius: 20px;
  padding: 6rem 0;
  text-align: center;
}

.services-signup-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f56a14;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.services-signup-btn:hover {
  transition: 0.3s;
  background-color: #e8620e;
}

.qrcode-form-wrapper {
  width: 100%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-pet-form-container {
  width: 80%;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto 2rem auto;
}

.add-pet-form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.add-pet-form input {
  outline: none;
  border: 1px solid #969494;
  border-radius: 5px;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: gray;
  margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

input[type="file"]:before {
  content: attr(placeholder) !important;
  color: gray;
  margin-right: 0.5em;
}

input[type="file"]:focus:before,
input[type="file"]:valid:before {
  content: "";
}

.add-pet-form textarea {
  outline: none;
  border: 1px solid #969494;
  border-radius: 5px;
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.add-pet-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f56a14;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.add-pet-btn:hover {
  transition: 0.3s;
  background-color: #e8620e;
}

.error {
  padding: 5px 15px;
  border-radius: 5px;
  color: red;
  text-align: center;
  margin: 0 auto;
  background-color: #f7c5b2;
  margin-bottom: 1rem;
}
.error p {
  margin: 0;
}
.success {
  padding: 5px 15px;
  border-radius: 5px;
  color: green;
  text-align: center;
  margin: 0 auto;
  background-color: lightgreen;
  margin-bottom: 1rem;
}
.success p {
  margin: 0;
}

.generate-qrcode-container {
  width: 80%;
  margin: 0 auto 2rem auto;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
}

.qrcode-wrapper {
  padding: 2rem 3rem;
  margin: auto;
}

.generate-qrcode-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f56a14;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 4rem;
}

.generate-qrcode-btn-disable {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: #000;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 4rem;
  cursor: not-allowed;
}

.generate-qrcode-btn:hover {
  transition: 0.3s;
  background-color: #e8620e;
}

.download-qrcode-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f56a14;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.download-qrcode-btn:hover {
  transition: 0.3s;
  background-color: #e8620e;
}

.select-size-container p {
  font-weight: bold;
  margin: 0 auto;
}

.select-size-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.qrsize {
  padding: 1rem 0;
}

.qrsize input {
  outline: none;
  border: 1px solid #969494;
  border-radius: 5px;
  padding: 0.7rem;
}

@media screen and (min-width: 900px) {
  .services-card {
    width: 40%;
  }

  .qrcode-form-wrapper {
    width: 80%;
    flex-direction: row;
  }

  .add-pet-form-container {
    width: 45%;
  }

  .generate-qrcode-container {
    width: 45%;
  }
}
